* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


/* remove all button styles */
button {
  all: unset;
  cursor: pointer;
}

/* colors  */
:root {
  /* primary */
  --dark-cyan: hsla(192, 37%, 48%, 1);
}

body {
  min-height: 100vh;
  line-height: 1.3;
  text-rendering: optimizeSpeed;
  font-family: 'IBM Plex Sans';
  background-color: var(--white);
}